.field_wrapper {
  padding-top: 5px;
  position: relative;
}
.field_label {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  position: absolute;
  opacity: 0;
  bottom: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  left: 14px;
  color: gray;
}
.field_input {
  width: 100%;
  padding: 16px 14px;
  background-color: #edf1f5;
  border-radius: 6px;
  font-size: 14px;
  color: black;
}
.field_error {
  padding: 14px 5px;
  font-size: 13px;
  color: red;
}

.label_showed {
  opacity: 1;
  bottom: 100%;
  left: 14px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}