.browseMusics_settings {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.browseMusics_selectTypeBtn {
  background: var(--main-bg-color);
  color: var(--secondary-text-color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.browseMusics_selectTypeBtn:hover {
  color: #6e7e8b;
}
.browseMusics_selectTypeBtn_selected {
  color: var(--main-text-color);
}
.browseMusics_selectItemsType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.browseMusics_blockMusics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.browseMusics_linearMusics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}