.chatListItem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
}
.chatListItem:hover {
  background-color: var(--secondary-bg-color);
  -webkit-box-shadow: 0px 0px 15px 3px var(--secondary-bg-shadow-color);
          box-shadow: 0px 0px 15px 3px var(--secondary-bg-shadow-color);
}
.chatListItem_selected {
  background-color: #3DB4F2;
  color: #fafafa;
}
.chatListItem_selected:hover {
  background-color: #3DB4F2;
}
.chatListItem .chatListItem_img {
  border-radius: 50%;
}
.chatListItem_rightBlock {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}
.chatListItem_nameAndTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.chatListItem_chatname {
  font-size: 16px;
  color: var(--third-text-color);
  text-overflow: ellipsis;
  overflow: hidden;
}
.chatListItem_time {
  font-size: 12px;
  color: var(--secondary-text-color);
}
.chatListItem_lastMessageAndUnread {
  color: var(--secondary-text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.chatListItem_lastMessage {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 5px;
}
.chatListItem_unRead {
  padding: 5px;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
}