.chatMessage {
  max-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.chatMessage_image {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.chatMessage_imageLink {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  cursor: pointer;
}
.chatMessage_main {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fafafa;
  border-radius: 20px;
  padding: 10px;
  word-break: break-word;
  border-bottom-left-radius: 0px;
}
.chatMessage_main_currentUser {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
  background-color: var(--profile-text-color);
}
.chatMessage_corner {
  position: absolute;
  bottom: 0;
}
.chatMessage_content {
  line-height: 1.4rem;
}
.chatMessage_message {
  color: rgb(49, 49, 49);
}
.chatMessage_time {
  float: right;
  position: relative;
  color: gray;
  top: 0.375rem;
  line-height: 1.35;
  margin-left: 0.4375rem;
  font-size: 12px;
}