.circle {
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 20px;
  height: 20px;
  -webkit-animation: growAndFadeOut 0.4s ease-in-out forwards;
          animation: growAndFadeOut 0.4s ease-in-out forwards;
}

@-webkit-keyframes growAndFadeOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(10);
            transform: scale(10);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(20);
            transform: scale(20);
  }
}

@keyframes growAndFadeOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(10);
            transform: scale(10);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(20);
            transform: scale(20);
  }
}