.defaultOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 8px;
  cursor: pointer;
}
.defaultOption_icon {
  color: gray;
}
.defaultOption_title {
  color: black;
}