.defaultPostOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}
.defaultPostOption:hover {
  background-color: var(--main-bg-color);
}
.defaultPostOption_icon {
  color: var(--main-text-color);
  font-size: 20px;
}
.defaultPostOption_title {
  color: var(--main-text-color);
}