.emojiPickerBlock {
  position: relative;
}
.emojiPickerBlock_emojiBlock {
  position: absolute;
  bottom: 100%;
  left: 0;
}
.emojiPickerBlock_emojiIcon {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: gray;
}
.emojiPickerBlock_emojiIcon:hover {
  color: #3DB4F2;
}
.emojiPickerBlock_emojione img {
  width: 1.5rem;
  height: 1.5rem;
}