.filterInput {
  width: 200px;
}
.filterInput_input {
  width: 100%;
  background-color: #fbfbfb;
  color: #9fa1a3;
}
.filterInput_input::-webkit-input-placeholder {
  color: #adc0d2;
  font-weight: 700;
}
.filterInput_input::-moz-placeholder {
  color: #adc0d2;
  font-weight: 700;
}
.filterInput_input:-ms-input-placeholder {
  color: #adc0d2;
  font-weight: 700;
}
.filterInput_input::-ms-input-placeholder {
  color: #adc0d2;
  font-weight: 700;
}
.filterInput_input::placeholder {
  color: #adc0d2;
  font-weight: 700;
}
.filterInput_input_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 15px 3px rgb(231, 231, 231);
          box-shadow: 0px 1px 15px 3px rgb(231, 231, 231);
  border-radius: 5px;
  padding: 10px 18px;
  background-color: #fbfbfb;
}
.filterInput_arrow {
  color: #c9d7e3;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.filterInput_arrow:hover {
  color: #627688;
}
.filterInput_cross {
  color: #c9d7e3;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.filterInput_cross:hover {
  color: #627688;
}
.filterInput_icon {
  color: #adc0d2;
}
.filterInput_title {
  font-size: 15px;
  font-weight: 700;
  color: #516170;
  margin-bottom: 10px;
}
.filterInput_selectBlock {
  -webkit-box-shadow: 0px 1px 15px 3px rgb(231, 231, 231);
          box-shadow: 0px 1px 15px 3px rgb(231, 231, 231);
  position: absolute;
  top: 125%;
  width: 100%;
  left: 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #fbfbfb;
}
.filterInput_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  color: #7488a6;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 5px;
}
.filterInput_option:last-child {
  margin-bottom: 0;
}
.filterInput_option:hover {
  color: #42bfef;
  background-color: rgb(218, 215, 215);
}
.filterInput_selectedMark {
  font-size: 13px;
  color: #6fc8ff;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.filterInput_lastSelectedGendre {
  background-color: #e3eaf0;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
}
.filterInput_selectedGenresCount {
  padding: 10px 12px;
  border-radius: 5px;
  background-color: #e3eaf0;
  cursor: pointer;
}
.filterInput_selectedGenres {
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}