.fullDescModal {
  background-color: rgb(48, 48, 48);
  color: #cdcdcd;
  border-radius: 10px;
  width: 600px;
  -webkit-box-shadow: 0px 0px 4px 1px rgb(40, 40, 40);
          box-shadow: 0px 0px 4px 1px rgb(40, 40, 40);
}
.fullDescModal_header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  border-bottom: 1px solid #fff;
  padding: 20px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fullDescModal_title {
  grid-column: 2;
  font-size: 20px;
}
.fullDescModal_closeBtnWrapper {
  grid-column: 3;
  justify-self: flex-end;
}
.fullDescModal_desc {
  padding: 30px 20px;
  line-height: 18px;
}