.wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hiddenBtns {
  padding: 10px 0px;
  border-radius: 5px;
  color: rgb(26, 26, 26);
  background-color: #fff;
}
.hiddenBtns_item {
  cursor: pointer;
  padding: 4px 8px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.hiddenBtns_item:hover {
  background-color: rgb(235, 235, 235);
}