.homeHeader {
  position: relative;
  height: 400px;
}
.homeHeader_text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fafafa;
  width: 40%;
  font-size: 16px;
  padding-left: 80px;
  padding-bottom: 40px;
  font-style: "italic";
}
.homeHeader_text p {
  margin-bottom: 20px;
}
.homeHeader_text h2 {
  font-weight: 700;
  font-size: 88px;
  letter-spacing: 2px;
  word-spacing: 5px;
  margin-bottom: 10px;
}
.homeHeader_showEvents {
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  border: 1px solid #fafafa;
}
.homeHeader_showEvents:hover {
  background-color: transparent;
  color: #fafafa;
}