@charset "UTF-8";
.innerPlaylistItems {
  padding: 20px 0px;
  color: #fafafa;
  border: 1px solid #4a4e72;
  border-top-width: 0px;
}
.innerPlaylistItems_title {
  padding: 0px 20px;
  margin-bottom: 20px;
}
.innerPlaylistItems_playlists {
  overflow: auto;
  max-height: 300px;
}
.innerPlaylistItems_playlists::-webkit-scrollbar-track {
  background: #3b3e5c;
  width: 24px;
}
.innerPlaylistItems_playlists::-webkit-scrollbar {
  width: 24px; /* Ширина скроллбара */
}
.innerPlaylistItems_playlists::-webkit-scrollbar-thumb {
  border: 8px solid #3b3e5c;
  background-color: rgb(33, 34, 50); /* Цвет ползунка */
  border-radius: 25px; /* Радиус скругления */
}