.innerPlaylistActions {
  padding: 20px 0px;
  width: 400px;
  background-color: #3b3e5c;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.innerPlaylistActions_topBlock {
  color: #fafafa;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #4a4e72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px;
}
.innerPlaylistActions_closeIcon {
  color: #fafafa;
  font-size: 20px;
  font-weight: 700;
}
.innerPlaylistActions_createNewPlaylist {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 15px;
  background-color: #fafafa;
  -webkit-transition: bottom 0.5s, background-color 0.25s;
  transition: bottom 0.5s, background-color 0.25s;
  padding: 10px 16px;
  border-radius: 20px;
  font-weight: 700;
  color: black;
  bottom: -10%;
  right: 6%;
}
.innerPlaylistActions_createNewPlaylist:hover {
  background-color: #cccccc;
}
.innerPlaylistActions_createIcon {
  font-size: 18px;
}
.innerPlaylistActions_btnAnimate {
  bottom: 6%;
}