.libPlaylist {
  cursor: pointer;
  padding: 6px;
  width: 162px;
  border-radius: 4px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.libPlaylist_play {
  position: absolute;
  bottom: 10%;
  right: 10%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  padding: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.514);
}
.libPlaylist_play:hover {
  background-color: black;
}
.libPlaylist_play_shown {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.libPlaylist_settings {
  display: none;
  position: absolute;
  top: 6%;
  right: 6%;
}
.libPlaylist_topShadow {
  border-radius: 10px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.586);
          box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.586);
}
.libPlaylist_imgBlock {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin-bottom: 7px;
}
.libPlaylist_imgBlock:hover .libPlaylist_topShadow {
  opacity: 1;
}
.libPlaylist_imgBlock:hover .libPlaylist_play {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.libPlaylist_imgBlock:hover .libPlaylist_settings {
  display: block;
}
.libPlaylist_imgBlock:hover .libPlaylist_play:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.libPlaylist_img {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.libPlaylist_info {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.libPlaylist_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  font-size: 16px;
  word-wrap: break-word;
  word-break: break-all;
  color: var(--third-text-color);
  margin-bottom: 6px;
  overflow: hidden;
  line-height: 16px;
  width: 100%;
}
.libPlaylist_author {
  color: var(--secondary-text-color);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.libPlaylist_trackCount {
  color: var(--profile-text-color);
}