.linearMusicItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #adc0d2;
}
.linearMusicItem_imageBlock {
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}
.linearMusicItem_imageBlock:hover .linearMusicItem_overlay {
  opacity: 1;
}
.linearMusicItem_image {
  border-radius: 5px;
}
.linearMusicItem_overlay {
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.505);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.linearMusicItem_overlay_shown {
  opacity: 1;
}
.linearMusicItem_play {
  color: white;
}
.linearMusicItem_infoBlock {
  padding: 10px 0px;
}
.linearMusicItem_title {
  color: var(--main-text-color);
  margin-bottom: 10px;
}
.linearMusicItem_authorAndViews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  color: var(--secondary-text-color);
}