.oldestNewestSelector {
  position: relative;
  width: 150px;
  text-align: center;
  cursor: pointer;
}
.oldestNewestSelector_currentOption {
  padding: 10px;
  background-color: var(--secondary-bg-color);
  -webkit-box-shadow: 0px 0px 15px 3px var(--secondary-bg-shadow-color);
          box-shadow: 0px 0px 15px 3px var(--secondary-bg-shadow-color);
}
.oldestNewestSelector_options {
  background-color: var(--secondary-bg-color);
  -webkit-box-shadow: 0px 0px 15px 3px var(--secondary-bg-shadow-color);
          box-shadow: 0px 0px 15px 3px var(--secondary-bg-shadow-color);
}
.oldestNewestSelector_option {
  cursor: pointer;
  padding: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.oldestNewestSelector_option:hover {
  background-color: var(--main-bg-color);
}
.oldestNewestSelector_selectedOption {
  background-color: var(--profile-text-color);
}