.playlistItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}
.playlistItem:hover .playlistItem_duration {
  display: none;
}
.playlistItem:hover .playlistItem_controls {
  display: block;
}
.playlistItem_selectMode {
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}
.playlistItem_selectMode_selected {
  background-color: rgba(200, 200, 200, 0.2431372549);
}
.playlistItem_imageBlock {
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}
.playlistItem_imageBlock:hover .linearMusicItem_overlay {
  opacity: 1;
}
.playlistItem_image {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.playlistItem_overlay {
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.505);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.playlistItem_overlay_shown {
  opacity: 1;
}
.playlistItem_play {
  color: white;
}
.playlistItem_infoBlock {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c6c6c6;
}
.playlistItem_title {
  color: #fafafa;
  margin-bottom: 10px;
}
.playlistItem_authorAndViews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.playlistItem_controls {
  display: none;
}