@charset "UTF-8";
.playlistLeftBlock {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 550px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}
.playlistLeftBlock_flexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.playlistLeftBlock_infoBlock {
  width: 300px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.playlistLeftBlock_imgBlock {
  position: relative;
}
.playlistLeftBlock_playlistImg {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.playlistLeftBlock_title {
  color: #fafafa;
  font-size: 20px;
}
.playlistLeftBlock_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #fafafa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.playlistLeftBlock_avatar {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.playlistLeftBlock_authorName {
  font-size: 13px;
  color: #fafafa;
}
.playlistLeftBlock_info {
  color: #c6c6c6;
  line-height: 18px;
}
.playlistLeftBlock_desc {
  cursor: pointer;
  color: rgba(194, 194, 194, 0.4588235294);
  display: -webkit-box; /* Обязательное свойство для line-clamp */
  -webkit-line-clamp: 2; /* Максимальное количество строк текста */
  -webkit-box-orient: vertical; /* Направление упаковки строк */
  overflow: hidden; /* Скрывает лишние строки */
  text-overflow: ellipsis; /* Показывает троеточие после обрезанного текста */
}