.playerData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.playerData_image {
  border-radius: 5px;
}
.playerData_infoBlock {
  font-weight: 500;
}
.playerData_title {
  margin-bottom: 10px;
  color: #fafafa;
  font-size: 16px;
}
.playerData_bottomInfo {
  font-size: 14px;
  color: #b9b9b9;
}