.playlistLeftBlock {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 550px;
  padding-top: 118px;
  padding-left: 200px;
  z-index: 10;
}
.playlistLeftBlock_infoBlock {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.playlistLeftBlock_imgBlock {
  position: relative;
}
.playlistLeftBlock_playlistImg {
  border-radius: 5px;
}
.playlistLeftBlock_title {
  color: #fafafa;
  font-size: 20px;
}
.playlistLeftBlock_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #fafafa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.playlistLeftBlock_avatar {
  border-radius: 50%;
}
.playlistLeftBlock_authorName {
  font-size: 13px;
  color: #fafafa;
}
.playlistLeftBlock_info {
  color: #c6c6c6;
  line-height: 18px;
}
.playlistLeftBlock_desc {
  color: rgba(194, 194, 194, 0.4588235294);
}