.playerPlaylistMainImg {
  padding: 40px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.playerPlaylistMainImg_imgContainer {
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.playerPlaylistMainImg_imgContainer:hover .playerPlaylistMainImg_topOverlay {
  opacity: 1;
}
.playerPlaylistMainImg_imgContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: inherit;
}
.playerPlaylistMainImg_topOverlay {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  position: absolute;
  z-index: 14;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 50px 60px rgba(0, 0, 0, 0.6274509804);
          box-shadow: 0px 0px 50px 60px rgba(0, 0, 0, 0.6274509804);
}
.playerPlaylistMainImg_controls {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.playerPlaylistMainImg_play {
  padding: 10px;
  font-size: 30px;
  color: #fafafa;
  border-radius: 50%;
  background-color: rgba(70, 72, 83, 0.6941176471);
  -webkit-animation-name: controlsAnimation;
          animation-name: controlsAnimation;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.playerPlaylistMainImg_pause {
  font-size: 30px;
  padding: 10px;
  color: #fafafa;
  border-radius: 50%;
  background-color: rgba(70, 72, 83, 0.4274509804);
  -webkit-animation-name: controlsAnimation;
          animation-name: controlsAnimation;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.playerPlaylistMainImg_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes controlsAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes controlsAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}