@charset "UTF-8";
.playerPlaylistItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  overflow: auto;
}
.playerPlaylistItems::-webkit-scrollbar-track {
  background: transparent;
  width: 24px;
}
.playerPlaylistItems::-webkit-scrollbar {
  width: 24px; /* Ширина скроллбара */
}
.playerPlaylistItems::-webkit-scrollbar-thumb {
  border: 8px solid var(--main-bg-color);
  background-color: var(--third-text-color); /* Цвет ползунка */
  border-radius: 25px; /* Радиус скругления */
}

.dragClass {
  background-color: white;
  opacity: 1;
}