.playerControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.playerControls_control {
  font-size: 25px;
  cursor: pointer;
  color: white;
}
.playerControls_centerControl {
  font-size: 40px;
}