.playerPlaylistContent {
  padding-top: 20px;
  width: 40%;
}
.playerPlaylistContent_title {
  color: var(--third-text-color);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}
.playerPlaylistContent_titleLink {
  color: var(--third-text-color);
}