.postEditPage {
  padding-top: 68px;
  min-height: 100vh;
  height: 100%;
  width: 40%;
  margin: 0 auto;
  background-color: var(--secondary-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.postEditPage_title {
  color: var(--third-text-color);
  text-align: center;
  font-weight: 700;
  grid-column: 2;
}
.postEditPage_postHeader {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  font-size: 20px;
}
.postEditPage_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.postEditPage_back {
  justify-self: start;
  margin-left: 10px;
  grid-column: 1;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--profile-text-color);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.postEditPage_back:hover {
  opacity: 0.8;
}