.postFilters {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.postFilters_createNewPost {
  padding: 10px;
  background-color: var(--profile-text-color);
  color: #fafafa;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  opacity: 1;
}
.postFilters_createNewPost:hover {
  opacity: 0.8;
}