.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  cursor: pointer;
}

.profileImg {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.profileImg_arrow {
  color: #515470;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.profileImg_arrow:hover {
  color: #75788f;
}
.profileImg_wrapper {
  position: relative;
}