.profnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
}
.profnav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 66px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profnav_item {
  color: var(--secondary-text-color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.profnav_item:hover {
  color: var(--profile-text-color);
}

.selectedLink {
  color: var(--profile-text-color);
}