.profileButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  right: 10%;
  gap: 10px;
  padding: 22px;
}
.profileButtons_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.profileButtons_btns button {
  padding: 8px 12px;
  color: #fff;
  border-radius: 5px;
}
.profileButtons_addFriend {
  background-color: rgb(126, 217, 126);
}
.profileButtons_chat {
  background-color: rgb(115, 115, 219);
}
.profileButtons_hiddenBtns {
  position: relative;
}
.profileButtons_arrow {
  color: #fff;
}
.profileButtons_status {
  padding: 10px 12px;
  border-radius: 5px;
  color: #fff;
}
.profileButtons_blocked {
  background-color: rgb(236, 118, 118);
}
.profileButtons_friend {
  background-color: rgb(98, 237, 137);
}