.searchUserItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.searchUserItem:hover {
  background-color: rgb(239, 239, 239);
}
.searchUserItem_userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: black;
}
.searchUserItem_image {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.searchUserItem_username {
  color: black;
}
.searchUserItem_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.searchUserItem_btn {
  position: relative;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.searchUserItem_addFriendBtn {
  background-color: rgb(85, 222, 85);
}
.searchUserItem_chatBtn {
  background-color: rgb(132, 132, 240);
}
.searchUserItem_btnLoading {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.btnDescription {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: gray;
  z-index: 100;
  border-radius: 5px;
  padding: 5px 8px;
  color: #fff;
  /* transition effect. not necessary */
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
  width: 0px;
  display: none;
}

.searchUserItem_btn:hover .btnDescription {
  visibility: visible;
  opacity: 1;
  width: 0;
  width: auto;
  display: block;
}