@charset "UTF-8";
.input {
  background-color: #d7d6d6;
  color: black;
  width: 100%;
}
.input::-webkit-input-placeholder {
  color: black;
}
.input::-moz-placeholder {
  color: black;
}
.input:-ms-input-placeholder {
  color: black;
}
.input::-ms-input-placeholder {
  color: black;
}
.input::placeholder {
  color: black;
}
.input_wrapper {
  background-color: #d7d6d6;
  padding: 8px 16px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.useritems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  max-height: 300px;
}
.useritems::-webkit-scrollbar-track {
  background: transparent;
  width: 5px;
}
.useritems::-webkit-scrollbar {
  width: 5px; /* Ширина скроллбара */
}
.useritems::-webkit-scrollbar-thumb {
  background-color: black; /* Цвет ползунка */
  border-radius: 2px; /* Радиус скругления */
}

.listLoader {
  position: relative;
  height: 80px;
  width: 100%;
}
.listLoader image {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  background-color: transparent;
}