.searchInput {
  width: 100px;
}
.searchInput_input {
  width: 100%;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
}
.searchInput_input::-webkit-input-placeholder {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.searchInput_input::-moz-placeholder {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.searchInput_input:-ms-input-placeholder {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.searchInput_input::-ms-input-placeholder {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.searchInput_input::placeholder {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.searchInput_input_wrapper {
  height: 42px;
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 1px 15px 3px var(--secondary-bg-shadow-color);
          box-shadow: 0px 1px 15px 3px var(--secondary-bg-shadow-color);
  border-radius: 5px;
  padding: 10px 18px;
  background-color: var(--secondary-bg-color);
}
.searchInput_iconAndInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searchInput_arrow {
  color: #c9d7e3;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.searchInput_arrow:hover {
  color: #627688;
}
.searchInput_cross {
  color: var(--secondary-text-color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.searchInput_cross:hover {
  color: #627688;
}
.searchInput_icon {
  color: var(--secondary-text-color);
}
.searchInput_title {
  font-size: 15px;
  font-weight: 700;
  color: var(--third-text-color);
  margin-bottom: 10px;
}
.searchInput_selectedMark {
  font-size: 13px;
  color: #6fc8ff;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}