.searchIcon {
  color: #777a9e;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.searchIcon:hover {
  color: #b1b5de;
}

.search {
  position: relative;
}
.search_popup {
  position: absolute;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  z-index: 130;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
}