.secondaryModal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.64);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.secondaryModal_open {
  opacity: 1;
}
.secondaryModal_container {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  position: relative;
  border-radius: 4px;
  padding: 10px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.secondaryModal_container_open {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}