.filterInput {
  width: 100px;
}
.filterInput_input {
  width: 100%;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
}
.filterInput_input::-webkit-input-placeholder {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.filterInput_input::-moz-placeholder {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.filterInput_input:-ms-input-placeholder {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.filterInput_input::-ms-input-placeholder {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.filterInput_input::placeholder {
  color: var(--secondary-text-color);
  font-weight: 700;
}
.filterInput_input_wrapper {
  height: 42px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 1px 15px 3px var(--secondary-bg-shadow-color);
          box-shadow: 0px 1px 15px 3px var(--secondary-bg-shadow-color);
  border-radius: 5px;
  padding: 10px 18px;
  background-color: var(--secondary-bg-color);
}
.filterInput_iconAndInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filterInput_arrow {
  color: var(--secondary-text-color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.filterInput_arrow:hover {
  color: #627688;
}
.filterInput_cross {
  color: var(--secondary-text-color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.filterInput_cross:hover {
  color: #627688;
}
.filterInput_icon {
  color: var(--secondary-text-color);
}
.filterInput_title {
  font-size: 15px;
  font-weight: 700;
  color: var(--third-text-color);
  margin-bottom: 10px;
}
.filterInput_selectBlock {
  -webkit-box-shadow: 0px 1px 15px 3px var(--secondary-bg-shadow-color);
          box-shadow: 0px 1px 15px 3px var(--secondary-bg-shadow-color);
  position: absolute;
  z-index: 40;
  top: 125%;
  width: 100%;
  left: 0;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
}
.filterInput_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-wrap: break-word;
  word-break: break-all;
  gap: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  color: var(--secondary-text-color);
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 5px;
}
.filterInput_option span {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.filterInput_option:last-child {
  margin-bottom: 0;
}
.filterInput_option:hover {
  color: #42bfef;
  background-color: var(--main-bg-color);
}
.filterInput_selectedMark {
  color: #6fc8ff;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.filterInput_selectedMark_wrapper {
  width: 20%;
}
.filterInput_lastSelectedGendre {
  background-color: #6fc8ff;
  color: white;
  padding: 10px 12px;
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border-radius: 5px;
}
.filterInput_selectedGenresCount {
  border-radius: 5px;
  width: 40px;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: #6fc8ff;
  cursor: pointer;
}
.filterInput_selectedGenres {
  color: var(--secondary-text-color);
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.filterInput_selectedGenre {
  color: var(--secondary-text-color);
}
.filterInput_selectedGenre_selected {
  color: #3db4f3;
}