.settingNavBar {
  width: 25%;
  min-width: 120px;
}
.settingNavBar_container {
  color: var(--main-text-color);
}
.settingNavBar_title {
  margin-bottom: 8px;
  display: block;
  font-size: 13px;
}
.settingNavBar_links {
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.settingNavBar_link {
  padding: 8px 10px;
  background-color: transparent;
  border-radius: 5px;
  color: var(--main-text-color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.active_link {
  background-color: var(--secondary-bg-color);
  font-weight: 600;
}