.settingWrapperLayout_title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
}
.settingWrapperLayout_desc {
  padding-bottom: 15px;
  color: var(--secondary-text-color);
  font-size: 13px;
}