.profThemes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.themeSquare {
  position: relative;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin-right: 14px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  border: 3px solid rgb(59, 203, 255);
}
.themeSquare:last-child {
  margin-right: 0px;
}

.triangleTopleft {
  width: 0;
  height: 0;
  border-right: 40px solid transparent;
}

.letterA {
  position: absolute;
  font-size: 18px;
  bottom: 4px;
  left: 4px;
}