.librarymain {
  min-height: 100vh;
}
.itemList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.noPosts{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  color: var(--third-text-color);
  font-size: 20px;
}
