.chatList {
  padding-left: 15px;
  padding-top: 10px;
  width:100%;
  overflow-y: auto;
  height: 100%;
  &::-webkit-resizer{
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
      background: transparent;
      width: 10px;
    }
    &::-webkit-scrollbar {
      width: 10px; /* Ширина скроллбара */
    }
  
    &::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      background-color: #1f202f; /* Цвет ползунка */
      border-radius: 25px; /* Радиус скругления */
    }
}
