.playlistPage {
  display: flex;
  position: relative;
  min-height: 100vh;
  padding-top: 68px;
  background-color: #030303;
  gap: 30px;
}
.loadingBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  image {
    object-fit: contain;
    object-position: center;
  }
}
