.reverifyPage {
  &_form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    // height: 400px;
  }
  &_submit {
    align-self: center;
    padding: 10px 25px;
    color: white;
    background-color: rgb(77, 202, 255);
    border-radius: 6px;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    transition: 0.25s;
    &_loader {
      font-size: 16px;
    }
    // &:disabled {
    //   background-color: rgb(0, 0, 0);
    // }
  }
  &_links {
    text-align: center;
    font-size: 13px;
    color: rgb(153, 153, 153);
    font-weight: 500;
    transition: 0.25s;
    &:hover {
      color: rgb(118, 212, 255);
    }
  }
}
