.searchUserPopup {
  &_wrapper {
    padding: 10px;
    background-color: transparent;
    animation: fadeInOverlay 0.3s ease forwards;
    position: absolute;
    transition: 0.15s;
    z-index: 130;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
  }
  &_content {
    width: 330px;
    background-color: #fff;
    border-radius: 15px;
    padding: 14px 10px;
  }
  &_triangle {
    line-height: 0;
    position: absolute;
    bottom: -4px;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
  }
  &_hiddenTopDiv {
    position: relative;
  }
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
