.noChatId {
  flex: 1;
  background-image: var(--chat-bg-img);
  background-position: center;
  &_chatNotSelected {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--third-text-color);
    font-size: 25px;
    font-weight: 600;
  }
}