.chatSearchPopup{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    animation: show-animation 1s ease  forwards;
}

@keyframes show-animation {
    from {
      opacity: 0;
    }
  
    to {
   opacity: 1;
    }
  }