.sidebarHeader {
  padding: 10px 20px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  //   background-color: var(--main-bg-color);
  box-shadow: 0px 0px 4px 1px var(--secondary-bg-shadow-color);
  &_backArrow {
    color: var(--main-text-color);
  }
  &_searchInput {
    max-width: 300px;
    width: 100%;
    border-radius: 20px;
    // background-color: #353853;
    // background-color: var(--secondary-bg-color);
    background-color: var(--main-bg-color);
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;

    border: 2px solid var(--secondary-bg-color);
  }
  &_icon {
    color: var(--profile-text-color);
    // color: #3db4f2;
  }
  &_input {
    width: 100%;
    //  background-color: var(--secondary-bg-color);
    background-color: var(--main-bg-color);
    font-size: 14px;
    color: var(--main-text-color);
    &::placeholder {
      color: var(--secondary-text-color);
    }
  }
}
