/* Обнуляющие стили */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* Темы */
:root {
  /* --bg-image: ''; */
  --profile-text-color: #3DB4F2; /* Цвет по умолчанию */

  --header-bg-color: #2b2d42;

  --main-text-color: #5c72a7;
  --secondary-text-color: #7A858F;
  --third-text-color: #0b1622;
  --secondary-bg-color: #fafafa;
  --main-bg-color: #edf1f5;

  --secondary-bg-shadow-color: #dcdcdc;
  --home-page-header-img: url('/background/main_page_bg.jpg');
   --chat-bg-img: url('/background/chat_bg_light3.jpg');
}

[data-theme='default'] {
  --home-page-header-img: url('/background/main_page_bg.jpg');
  --chat-bg-img: url('/background/chat_bg_light3.jpg');
  --main-text-color: #5c72a7;
  --secondary-text-color: #7A858F;
  --third-text-color: #0b1622;
  --secondary-bg-color: #fafafa;
  --main-bg-color: #edf1f5;

  --secondary-bg-shadow-color: #dcdcdc;
}
[data-theme='dark'] {
  --home-page-header-img: url('/background/main_page_bg_dark.jpg');
   --chat-bg-img: url('/background/chat_bg_dark2.jpg');
  --main-text-color: #5c72a7;
  --secondary-text-color: #728AA1;
  --third-text-color: #fafafa;
  --secondary-bg-color: #2b2d42;
  --main-bg-color: #0b1622;

  --secondary-bg-shadow-color: #1e202f;
}

[data-text-color] {
  --profile-text-color: var(--profile-text-color);
}
[data-text-color="#3DB4F2"] {
  --profile-text-color: #3DB4F2; 
}

[data-text-color="#C063FF"] {
  --profile-text-color: #C063FF;
}
[data-text-color="#4CCA51"] {
  --profile-text-color: #4CCA51;
}
[data-text-color="#EF881A"] {
  --profile-text-color: #EF881A;
}
[data-text-color="#E13333"] {
  --profile-text-color: #E13333;
}
[data-text-color="#FC9DD6"] {
  --profile-text-color: #FC9DD6;
}
[data-text-color="#677B94"] {
  --profile-text-color: #677B94;
}



