/* Обнуляющие стили */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* Темы */
:root {
  /* --bg-image: ''; */
  --profile-text-color: #3db4f2; /* Цвет по умолчанию */

  --header-bg-color: #2b2d42;

  --main-text-color: #5c72a7;
  --secondary-text-color: #7a858f;
  --third-text-color: #0b1622;
  --secondary-bg-color: #fafafa;
  --main-bg-color: #edf1f5;

  --secondary-bg-shadow-color: #dcdcdc;
  --home-page-header-img: url('/background/main_page_bg.jpg');
  --chat-bg-img: url('/background/chat_bg_light3.jpg');

  --player-img-overlay: #22233476;
}

[data-theme='default'] {
  --home-page-header-img: url('/background/main_page_bg.jpg');
  --chat-bg-img: url('/background/chat_bg_light3.jpg');
  --main-text-color: #5c72a7;
  --secondary-text-color: #7a858f;
  --third-text-color: #0b1622;
  --secondary-bg-color: #fafafa;
  --main-bg-color: #edf1f5;

  --secondary-bg-shadow-color: #dcdcdc;

  --player-img-overlay: #22233476;
}
[data-theme='dark'] {
  --home-page-header-img: url('/background/main_page_bg_dark.jpg');
  --chat-bg-img: url('/background/chat_bg_dark2.jpg');
  --main-text-color: #5c72a7;
  --secondary-text-color: #728aa1;
  --third-text-color: #fafafa;
  --secondary-bg-color: #2b2d42;
  --main-bg-color: #0b1622;

  --secondary-bg-shadow-color: #1e202f;

  --player-img-overlay: #ffffff28;
}

[data-text-color] {
  --profile-text-color: var(--profile-text-color);
}
[data-text-color='#3DB4F2'] {
  --profile-text-color: #3db4f2;
}

[data-text-color='#C063FF'] {
  --profile-text-color: #c063ff;
}
[data-text-color='#4CCA51'] {
  --profile-text-color: #4cca51;
}
[data-text-color='#EF881A'] {
  --profile-text-color: #ef881a;
}
[data-text-color='#E13333'] {
  --profile-text-color: #e13333;
}
[data-text-color='#FC9DD6'] {
  --profile-text-color: #fc9dd6;
}
[data-text-color='#677B94'] {
  --profile-text-color: #677b94;
}
