.searchIcon {
  color: #777a9e;
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    color: #b1b5de;
  }
}
.search {
  position: relative;
  &_popup {
    position: absolute;
    transition: 0.15s;
    z-index: 130;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
  }
}
