.deletePostInner {
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  padding: 22px 0px;
  &_title {
    border-bottom: 1px solid var(--main-bg-color);
    color: var(--main-text-color);
    padding: 0px 40px 10px;
    margin-bottom: 10px;
  }
  &_btnsList {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 0px 20px;
  }
  &_button {
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &_reject {
    width: 60%;
    background-color: var(--main-bg-color);
  }
  &_accept {
    width: 30%;
    background-color: transparent;
    border: 1px solid var(--main-bg-color);
   
  }
}
