.profnav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  background-color: white;
  &_items {
    display: flex;
    justify-content: space-between;
    gap: 66px;
    align-items: center;
  }
  &_item {
    color: rgb(111, 105, 105);
    transition: 0.25s;
    &:hover {
      color: rgb(108, 108, 255);
    }
  }
}
.selectedLink {
  color: rgb(108, 108, 255);
}
