.playerData {
  display: flex;
  gap: 10px;
  align-items: center;
  &_image {
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
  }
  &_infoBlock {
    font-weight: 500;
  }
  &_title {
    margin-bottom: 10px;
    color: #fafafa;
    font-size: 16px;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden; /* Скрывает лишние строки */
    text-overflow: ellipsis; /* Показывает троеточие после обрезанного текста */
  }
  &_bottomInfo {
    font-size: 14px;
    color: #b9b9b9;
    max-width: 800px;
      display: -webkit-box; /* Обязательное свойство для line-clamp */
    -webkit-line-clamp: 2; /* Максимальное количество строк текста */
    -webkit-box-orient: vertical; /* Направление упаковки строк */
    // white-space: nowrap;
    overflow: hidden; /* Скрывает лишние строки */
    text-overflow: ellipsis; /* Показывает троеточие после обрезанного текста */
  }
  &_author {
  }
  &_viewsCount {
  }
  &_likes {
  }
}
