.userLocation {
  &_wrapper {
  }
  &_content {
    position: relative;
  }
  &_currentLocation {
    padding: 12px 20px;
    background-color: transparent;
    color: #bcbedc;
    border-radius: 10px;
    text-decoration: underline;
    &:disabled {
      color: gray;
      cursor: default;
    }
  }
  &_locationList {
    cursor: pointer;
    padding: 8px 0px;
    left: 0;
    top: 102%;
    border-radius: 12px;
    background-color: #2b2d42;
    color: #bcbedc;
    box-shadow: 2px 2px 5px 2px rgb(55, 55, 55);
    position: absolute;
  }
  &_location {
    padding: 6px 8px;
    &:hover {
      background-color: var(--secondary-text-color);
    }
  }
  &_selectedLocation {
    background-color: var(--main-text-color);
  }
}
