.eventItem{
    width: 300px;
    &_info{
        padding: 10px;
    }
    &_desc{
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3; /* Ограничивает количество строк */
        -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        width: 100%;
    }
    &_price{
        display: flex;
        gap: 10px;
        align-items: center;

    }
}