.playerPlaylistContent {
  padding-top: 20px;
  width: 40%;
  &_title {
    // color: #fafafa;
    color: var(--third-text-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
  }
  &_titleLink {
    color: var(--third-text-color);
  }
}
