.chatListItem {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s;
  white-space: nowrap;
  overflow: hidden;
  // background-color: #40436344;
  // background-color: #404363;
  background-color: transparent;
  color: var(--third-text-color);
  &:hover {
    background-color: var(--secondary-bg-color);
    box-shadow: 0px 0px 6px 1px var(--secondary-bg-shadow-color);
  }
  &_selected {
    background-color: var(--profile-text-color);
    // background-color: #3DB4F2;
    color: #fafafa;
    &:hover {
      background-color: var(--profile-text-color);
      // background-color: #3DB4F2; // Сохраняем текущий цвет фона
    }
  }
  & &_img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  &_rightBlock {
    flex-grow: 1;
    overflow: hidden;
  }

  &_nameAndTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
  }
  &_nameAndStatus {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  &_chatname {
    font-size: 16px;
    // color: var(--third-text-color);
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &_time {
    font-size: 12px;
    // color: var(--third-text-color);
  }
  &_lastMessageAndUnread {
    // color: var(--secondary-text-color);
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
  &_lastMessage {
    flex-grow: 1;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 5px;
    // color: var(--third-text-color);
  }
  &_unRead {
    padding: 5px;
    border-radius: 50%;
    background-color: var(--third-text-color);
    color: var(--secondary-text-color);
  }
  &_friendStatus {
    color: rgb(0, 255, 0);
  }
  &_relationStatusPin {
    pointer-events: none;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 15px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #fafafa;
    border-radius: 50%;
  }
  &_friendIcon {
    color: rgb(0, 255, 0);
  }

  &_blockedIcon {
    color: rgb(252, 2, 2);
  }

  &_blockedStatus {
    color: rgb(11, 0, 0);
  }
}
