.innerNewPlaylistCreateForm {
  background-color: #3b3e5c;
  border: 1px solid #4a4e72;
  padding: 20px;
  border-radius: 5px;
  width: 450px;
  &_title {
    font-size: 20px;
    color: #fafafa;
    font-weight: 600;
    margin-bottom: 30px;
  }
}
.createPlaylistForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &_btns {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
  }
  &_btn {
    color: black;
    border-radius: 25px;
    transition: 0.25s;
    padding: 10px 12px;
    background-color: #fafafa;
    &:hover {
      background-color: rgb(200, 200, 200);
    }
  }
  &_cancel {
    background-color: transparent;
    color: #fafafa;
    &:hover {
      background-color: rgb(163, 163, 163);
    }
  }
}
