.list {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.emptyReq {
  text-align: center;
  color: var(--third-text-color);
  font-weight: 600;
}
.errorBody {
  text-align: center;
  color: var(--third-text-color);
  font-weight: 600;
}
