.eventList {
  &_wrapper {
    max-width: 70%;
    margin: 0 auto;
    padding: 40px 30px;
}
&_items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

  }
}
.eventItemLoader {
  background-color: var(--main-bg-color);
}
