.browseMusics {
  &_settings {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
  }
  &_selectTypeBtn {
    background: var(--main-bg-color);
    color: var(--secondary-text-color);
    transition: 0.25s;
    &:hover {
      color: color-mix(in srgb,  var(--profile-text-color), white 30%)
    }
    &_selected {
      color: var(--profile-text-color);
    }
  }
  &_selectItemsType {
    display: flex;
    gap: 10px;
  }
  &_blockMusics {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  &_linearMusics {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}
