.playerFooter {
  position: fixed;
  z-index: 14;
  bottom: 0;
  width: 100%;
  height: 80px;
  // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: var(--font-inter);
  background-color: #2b2d42;
  &_container {
    position: relative;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
.leftBlock {
  display: flex;
  gap: 10px;
  align-items: center;
}
.centerBlock {
  display: flex;
  gap: 10px;
  align-items: center;
}
.rightBlock {
  display: flex;
  gap: 10px;
  align-items: center;
}
