.field {
  &_wrapper {
    // display: flex;
    // flex-direction: column;
    position: relative;

    // &:hover .field_movingLine {
    //   background-size: 100% 100%;
    // }
  }
  &_label {
    transition: 0.25s;
    position: absolute;
    opacity: 0;
    bottom: 50%;
    transform: translateY(-50%) scale(1);
    left: 0px;
    font-size: 14px;
    color: #4f537b;
  }
  &_input {
    background-color: transparent;
    font-size: 14px;
    margin-bottom: 4px;
    color: #fafafa;
    &::placeholder {
      color: #4f537b;
      font-size: 14px;
    }
  }
  &_movingLine {
    height: 2px;
    position: relative;
    display: block;
    background-image: linear-gradient(#3db4f2, #3db4f2);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.2s, color 0.2s;
  }
  &_focused {
    background-size: 100% 100%;
  }
}
.label_showed {
  opacity: 1;
  bottom: 100%;
  //   transform: scale(0.8);
  font-size: 13px;
}
