.userEventsFriendsList{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    padding: 8px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow-y: auto;
    &::-webkit-scrollbar-track {
      background: transparent;
      width: 5px;
    }
    &::-webkit-scrollbar {
      width: 5px; /* Ширина скроллбара */
    }

    &::-webkit-scrollbar-thumb {
    //   border: 4px solid transparent;
      // border: 8px solid #2b2d42;
      background-color: var(--third-text-color); /* Цвет ползунка */
      border-radius: 2px; /* Радиус скругления */
    }
    &_img{
        border-width: 3px;
        border-style: solid;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;

    }
    &_item{
        display: flex;
        gap: 5px;
        align-items: center;
        display: block;

    }
    &_nickname{
        font-size: 13px;
        font-weight: 300;
        color: black;

    }
}