.playlistLeftBlock {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 550px;
  // padding-top: 118px;
  // padding-left: 200px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 10;
  &_flexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &_infoBlock {
    width: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
  }
  &_imgBlock {
    position: relative;
  }

  &_playlistImg {
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
  }

  &_title {
    color: #fafafa;
    font-size: 20px;
  }
  &_author {
    display: flex;
    gap: 10px;
    color: #fafafa;
    justify-content: center;
    align-items: center;
  }
  &_avatar {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
  &_authorName {
    font-size: 13px;
    color: #fafafa;
  }
  &_info {
    color: #c6c6c6;
    line-height: 18px;
  }
  &_desc {
    cursor: pointer;
    color: #c2c2c275;
    display: -webkit-box; /* Обязательное свойство для line-clamp */
    -webkit-line-clamp: 2; /* Максимальное количество строк текста */
    -webkit-box-orient: vertical; /* Направление упаковки строк */
    overflow: hidden; /* Скрывает лишние строки */
    text-overflow: ellipsis; /* Показывает троеточие после обрезанного текста */
  }
}
